h1{
    color: black;
    line-height: 80px;
    font-size: 25px;
}

.div-border{
    border: 1px solid black;
}

.div-border-noneRight{
    border: 1px solid black;
    border-right: none;
    border-collapse:collapse;
}

.div-border-noneLeft{
    border: 1px solid black;
    border-left: none;
    border-collapse:collapse;
}

.h-textStyle{
    line-height: 40px;
}