<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>测试</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron-heading">
            <h1 class="text-center" style="line-height: 80px">Example heading</h1>
        </div>
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate th:action="@{/commit}" method="post">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" id="name" placeholder="请输入姓名" name="name" required>
                        <div class="invalid-feedback">
                            请输入姓名
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="age">年龄</label>
                        <input type="number" class="form-control" id="age" placeholder="请输入年龄" name="age" required>
                        <div class="invalid-feedback">
                            请输入年龄
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="sex">性别</label>
                        <select class="custom-select d-block w-100" id="sex" name="sex" required>
                            <option value="">选择性别</option>
                            <option>男</option>
                            <option>女</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择性别
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label>输入文案区域</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label>输入文案区域</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label>输入文案区域</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label>输入文案区域</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="d-block my-3">
                    <label>选择项目</label>
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">Paypal</label>
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>