<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/recordResult.css">
    <title>结果输出</title>
</head>

<body>
    <div class="container col-md-6">
        <div class="text-center">
            <h1>测试头</h1>
        </div>
        <div>
            <div class="row">
                <div class="div-border-noneRight col-md-4">
                    <h style="line-height: 40px;">姓名:</h>
                </div>
                <div class="div-border-noneRight col-md-4">
                    <h style="line-height: 40px;">年龄:</h>
                </div>
                <div class="div-border col-md-4">
                    <h style="line-height: 40px;">性别:</h>
                </div>
            </div>
            <div class="row">
                <div class="div-border-noneRight col-md-3">
                    <h style="line-height: 40px;">主诉:</h>
                </div>
                <div class="div-border col-md-9" style="padding-top: 5px;">
                    <h>第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法</h>
                </div>
            </div>
            <div class="row">
                <div class="div-border-noneRight col-md-3">
                    <h style="line-height: 40px;">现病史:</h>
                </div>
                <div class="div-border col-md-9" style="padding-top: 5px; padding-bottom: 20px;">
                    <h>第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法</h>
                </div>
            </div>
            <div class="row">
                <div class="div-border-noneRight col-md-3">
                    <h style="line-height: 40px;">既往史:</h>
                </div>
                <div class="div-border col-md-9" style="padding-top: 5px; padding-bottom: 20px;">
                    <h>第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法</h>
                </div>
            </div>
            <div class="row">
                <div class="div-border-noneRight col-md-3">
                    <h style="line-height: 40px;">眼部检查:</h>
                </div>
                <div class="div-border col-md-9" style="padding-top: 5px; padding-bottom: 20px;">
                    <h>第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法</h>
                </div>
            </div>
            <div class="row">
                <div class="div-border-noneRight col-md-3">
                    <h style="line-height: 40px;">辅助检查:</h>
                </div>
                <div class="div-border col-md-9" style="padding-top: 5px; padding-bottom: 20px;">
                    <h>第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法</h>
                </div>
            </div>
            <div class="row">
                <div class="div-border-noneRight col-md-3">
                    <h style="line-height: 40px;">初步诊断:</h>
                </div>
                <div class="div-border col-md-9" style="padding-top: 5px; padding-bottom: 20px;">
                    <h>第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法第三个第四个地方郭德纲的说法</h>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>